<h1>Most recent pictures</h1>
  <ul>
  	<% @most_recent_pictures.each do |picture| %>
  		<li><%= picture.title %></li>

  	<% end %>
  </ul>

  <h1>Photos Over A Month Old</h1>
  	<ul>
  		<%= @created_before.each do |picture| %>
  			<li><%= picture.title %></li>
  		<% end %>
  	</ul>
